# Python CircleCI 2.0 configuration file

version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1
    working_directory: ~/andela-societies-backend

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: run tests
          command: |
            make test
      - store_artifacts:
          path: test-reports
          destination: test-reports
