[run]
omit =
    */tests/*
    manage.py
    */.virtualenvs/*
    */venv/*
    config.py
    */site-packages/*
    */__init__.py
    */marshmallow_schemas.py
    run_tests.py

[report]
omit =
    */python?.?/*
    */site-packages/*
    */venv/*
    */tests/*
    */migrations/*
    */.virtualenvs/*
    config.py
    manage.py
    */__init__.py
    */marshmallow_schemas.py
    run_tests.py
